nav {
  text-align: center;
  background: #5F4B8B;
  position: fixed;
  color: #fff;
  width: 100%;
  z-index: 100;

}

.main {
  position: relative;
  top: 60px;
  display: flex;
  flex-direction: column;
}
