nav {
  box-sizing: border-box;
  top: 0;
  text-align: center;
  background: #fff;
  box-shadow: 0 10px 20px rgba(95, 75, 139, 0.6);
  position: fixed;
  color: #38366f;
  width: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10%;
}

nav a,
nav a:hover,
nav a:active {
  color: #38366f;
}

.main {
  position: relative;
  top: 60px;
  display: flex;
  flex-direction: column;
}

.logo {
  max-height: 60px;
  margin: 10px;
}