.bookshelf {
  width: 80%;
  min-height: 200px;
  border-bottom: 3px solid rgba(95, 75, 139, 0.8);
  margin: 10px auto;
  font-weight: 400;
}

.bookshelf:first-of-type {
  margin-top: 60px;
}

.booklist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;
}

.bookshelf > p {
  margin-top: 40px;
  color: #757575;
}
