.bookshelf {
  width: 80%;
  min-height: 300px;
  border-bottom: 3px solid #5F4B8B;
  margin: 10px auto;
}

.booklist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bookshelf p {
  color: #767;
}
