.book {
  list-style: none;
  margin: 10px 20px;
  position: relative;
}

.book-cover {
  width: 128px;
  height: 193px;
  position: relative;
  border: 1px solid black;
}

.book-info {
  text-align: center;
  width: 128px;
  font-size: 0.9em;
}

.book-info--author {
  margin: 10px auto 5px;
  font-size: 0.8em;
}

.book-info--title {
  margin: 0 auto 2px;
  font-weight: bold;
  color: #575757;
}

select {
  opacity: 0;
  position: absolute;
  z-index: 20;
  height: 193px;
  width: 100%;
  background-color: #777;
}

.icon {
  box-sizing: border-box;
  padding-top: 60px;
  height: 100%;
  width: 100%;
  font-size: 2em;
  opacity: 0;
  color: #f7f7f7;
  position: absolute;
  text-align: center;
  background-color: rgba(90, 90, 90, 0.5);
}

.icon-text {
  font-size: 16px;
  color: #f7f7f7;
  line-height: 20px;
  background-color: rgba(95, 75, 139, 0.9);
}

.book:hover .icon,
.book:active .icon {
  opacity: 1;
}